@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

/* Reseteo básico para asegurar que el mapa ocupe toda la pantalla */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}